$title: title;

.#{$title} {
  margin-bottom: rem(10);
  font-weight: 700;
  font-size: rem(24);
  letter-spacing: 2px;
  color: $color-dark;
  text-transform: uppercase;

  @media (min-width: $device-md) {
    font-size: rem(18);
  }

  span {
    font-weight: 300;
    color: $color-gray;
  }
}
