$title: title;

.#{$title} {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #353738;
  text-transform: uppercase;

  span {
    font-weight: 300;
    color: #848789;
  }
}
