$about: about;

.#{$about} {
  display: flex;
  justify-content: center;
  padding: rem(60) 15px;
  text-align: center;
  background-color: $color-false-white;

  @media (min-width: $device-lg) {
    padding: rem(117) 0;
  }

  @media (min-width: $device-xll) {
    min-height: rem(470);
  }

  &__icon {
    max-width: rem(52);
    margin-bottom: rem(35);
  }

  &__text {
    max-width: rem(1095);
    line-height: rem(35);
  }
}
