$shop: shop;

.#{shop} {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 267px) 200px;
  grid-template-areas: 
    "img3 img1"
    "img3 img2"
    "img6 img6"
    "img7 img4"
    "img8 img4"
    "img5 img5"
    "discover discover";
  z-index: 1;

  @media (min-width: $device-md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 267px) 200px;
    grid-template-areas: 
    "img3 img1 img2 img4"
    "img3 img6 img6 img4"
    "img7 img8 img5 img5"
    "discover discover discover discover";
  }

  @media (min-width: $device-xll) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 267px) 200px;
    grid-template-areas: 
    "img1 img2 img3 img4 img5 img5"
    "img6 img6 img3 img4 img7 img8"
    "discover discover discover discover discover discover";
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: background-color .2s linear;
    }

    &:hover {
      &::before {
        background-color: rgba(100, 194, 158, .8);
      }

      .#{$shop}__icon {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__wrap-1 {
    grid-area: img1;
  }

  &__wrap-2 {
    grid-area: img2;
  }

  &__wrap-3 {
    grid-area: img3;
  }

  &__wrap-4 {
    grid-area: img4;
  }

  &__wrap-5 {
    grid-area: img5;
  }

  &__wrap-6 {
    grid-area: img6;
  }

  &__wrap-7 {
    grid-area: img7;
  }

  &__wrap-8 {
    grid-area: img8;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }

  &__icon {
    pointer-events: none;
    text-align: center;
    transform: translateY(10px);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    cursor: pointer;

    img {
      max-width: 51px;
      margin-bottom: 10px;
    }

    figcaption {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-white;
    }
  }

  &__discover {
    grid-area: discover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282f35;
  }

  &__btn {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, .5);
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
    }
  }
}
