section.section.shop#shop
  .shop__wrap.shop__wrap-1
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_1.jpg" alt="")
  .shop__wrap.shop__wrap-2
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_2.jpg" alt="")
  .shop__wrap.shop__wrap-3
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_4.jpg" alt="")
  .shop__wrap.shop__wrap-4
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_5.jpg" alt="")
  .shop__wrap.shop__wrap-5
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_6.jpg" alt="")
  .shop__wrap.shop__wrap-6
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_3.jpg" alt="")
  .shop__wrap.shop__wrap-7
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_7.jpg" alt="")
  .shop__wrap.shop__wrap-8
    figure.shop__icon
      img(src="../assets/images/ishop.png" alt="")
      figcaption Shop Now
    img.shop__img(src="../assets/images/shop_8.jpg" alt="")
  .shop__discover
    button.shop__btn DISCOVER THE SHOP
