section.twitter
  .swiper-container.twitter__swiper-container
    .swiper-wrapper
      .swiper-slide
        .twitter__container
          img.twitter__icon(src="../assets/images/twitter.png" alt="")
          .title.twitter__title AOD NEW YORK  @aod  #[span /  35 min]
          .text.twitter__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
      .swiper-slide
        .twitter__container
          img.twitter__icon(src="../assets/images/twitter.png" alt="")
          .title.twitter__title AOD NEW YORK  @aod  #[span /  35 min]
          .text.twitter__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
      .swiper-slide
        .twitter__container
          img.twitter__icon(src="../assets/images/twitter.png" alt="")
          .title.twitter__title AOD NEW YORK  @aod  #[span /  35 min]
          .text.twitter__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.
    .swiper-pagination
