$twitter: twitter;

.#{$twitter} {
  display: flex;
  overflow: hidden;
  background-color: $color-false-white;

  @media (min-width: $device-xll) {
    min-height: rem(470);
  }

  &__container {
    padding: rem(124) 15px;
    text-align: center;

    @media (min-width: $device-xll) {
      padding: rem(124) 0 0;
    }
  }

  &__icon {
    max-width: rem(32);
    margin-bottom: rem(35);
  }

  &__title {
    margin-bottom: rem(25);
    letter-spacing: 1px;
    text-transform: inherit;
  }

  &__text {
    max-width: rem(1070);
    margin: 0 auto;
    font-weight: 400;
    font-style: italic;
    font-size: rem(24);
  }

  .swiper-pagination-bullets {
    bottom: rem(68);
  }

  .swiper-pagination-bullet {
    width: rem(11);
    height: rem(11);
    border: 1px solid #a9afb3;
    background-color: transparent;
    transition: background-color .2s ease;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #a9afb3;
  }
}
