* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 10px;
  font-family: $font-lato;
  
  @media (min-width: $device-md) {
    font-size: 12px;
  }

  @media (min-width: $device-lg) {
    font-size: 14px;
	}

  @media (min-width: $device-xll) {
    font-size: 16px;
  }
}

body {
	position: relative;
	width: 100%;
	overflow-y: scroll;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	outline: transparent;
  cursor: pointer;
  font-family: $font-lato;
}

input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
  outline: transparent;
  font-family: $font-lato;
}

.section {
  @media (min-width: $device-tablet) {
    scroll-margin: 155px;
  }
}
