$font-lato: 'Lato';

$color-white: #fff;
$color-black: #000;
$color-dark: #353738;
$color-gray: #848789;
$color-false-white: #f7f7f7;

$device-sm: 480px;
$device-md: 768px;
$device-tablet: 992px;
$device-lg: 1024px;
$device-xl: 1280px;
$device-xll: 1440px;
