$mailing: mailing;

.#{$mailing} {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &__container {
    max-width: 534px;
    width: 100%;
    text-align: center;
  }

  &__text {
    margin-bottom: 35px;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: #848789;
  }

  &__form {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 8px;
  }

  &__input {
    height: 70px;
    padding: 0 27px;
    border: 1px solid #d3d7d9;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #929292;

    &::-moz-placeholder {
      color: #929292;
      font-family: 'Lato';
    }

    &::-webkit-input-placeholder {
      color: #929292;
      font-family: 'Lato';
    }
  }

  &__btn {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: #64c29e;
    cursor: pointer;
  }

  .logo {
    margin-bottom: 40px;
  }
}
