$mailing: mailing;

.#{$mailing} {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(60) 15px;
  background-color: $color-white;

  @media (min-width: $device-lg) {
    padding: rem(120) 0;
  }

  @media (min-width: $device-xll) {
    min-height: rem(470);
    padding: 0;
  }

  &__container {
    max-width: rem(534);
    width: 100%;
    text-align: center;
  }

  &__text {
    margin-bottom: rem(35);
    font-weight: 400;
    font-style: italic;
    font-size: rem(24);
    color: $color-gray;
  }

  &__form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 50px;
    gap: 8px;

    @media (min-width: $device-md) {
      grid-template-columns: rem(400) 1fr;
      grid-template-rows: 70px;
    }
  }

  &__input {
    padding: 0 rem(27);
    border: 1px solid #d3d7d9;
    font-weight: 400;
    font-style: italic;
    font-size: rem(20);
    color: #929292;

    &::-moz-placeholder {
      color: #929292;
      font-family: 'Lato';
    }

    &::-webkit-input-placeholder {
      color: #929292;
      font-family: 'Lato';
    }
  }

  &__btn {
    font-weight: 300;
    font-size: rem(24);
    line-height: rem(24);
    text-transform: uppercase;
    color: $color-white;
    background-color: #64c29e;
    cursor: pointer;
  }

  .logo {
    margin-bottom: rem(40);
  }
}
