section.mailing
  .mailing__container
    img.logo(src="../assets/images/logo.png" alt="") 
    .mailing__text Stay on the saddle!
    form.mailing__form(action="")
      input.mailing__input(type="email"  placeholder="enter your email..." required)
      button.mailing__btn Go