nav.navigation
  button.navigation__link#about About Us 
  span.navigation__separator . 
  button.navigation__link#work Work 
  img.logo.navigation__logo(src="../assets/images/logo.png" alt="") 
  button.navigation__link#shop Shop 
  span.navigation__separator . 
  button.navigation__link#contact Contact
  button.navigation__close
    span
    span
