extends ../layout/layout

block variables
	- var name ="Bicycle Company"

block content
	include ../blocks/top/top.pug
	include ../blocks/about/about.pug
	include ../blocks/work/work.pug
	include ../blocks/twitter/twitter.pug
	include ../blocks/shop/shop.pug
	include ../blocks/mailing/mailing.pug
