section.section.work#work
  .work__bike-index.work__bike-index-one
    img.work__bike-index-icon(src="../assets/images/bike_logo_1_1.png" alt="")
    img.work__img.work__img--absolute(src="../assets/images/bike_1_1.jpg" alt="")
  .work__bike-detail.work__bike-detail-one
    .work__bike-description
      img.work__icon.work__bike-detail-icon(src="../assets/images/bike_icon_1_1.png" alt="")
      .title vintage Oliva
      .text.work__bike-descriptio-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
      .work__bike-description-line
    .work__bike-detail-img
      img.work__img.work__img--absolute(src="../assets/images/bike_1_2.jpg" alt="")
  .work__bike-detail.work__bike-detail-two
    .work__bike-description
      img.work__bike-detail-icon.work__icon(src="../assets/images/bike_icon_2_1.png" alt="")
      .title La boriosa
      .text.work__bike-descriptio-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
      .work__bike-description-line
    .work__bike-detail-img
      img.work__img.work__img--absolute(src="../assets/images/bike_2_2.jpg" alt="")
  .work__bike-index.work__bike-index-two
    img.work__bike-index-icon(src="../assets/images/bike_logo_2_1.png" alt="")
    img.work__img.work__img--absolute(src="../assets/images/bike_2_1.jpg" alt="")
  .work__bike-index.work__bike-index-three
    img.work__bike-index-icon(src="../assets/images/bike_logo_3_1.png" alt="")
    img.work__img.work__img--absolute(src="../assets/images/bike_3_1.jpg" alt="")
  .work__bike-detail.work__bike-detail-three
    .work__bike-description
      img.work__bike-detail-icon.work__icon(src="../assets/images/bike_icon_3_1.png" alt="")
      .title retrò Bike - M. Hulot
      .text.work__bike-descriptio-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
      .work__bike-description-line
    .work__bike-detail-img
      img.work__img.work__img--absolute(src="../assets/images/bike_3_2.jpg" alt="")
  .work__bike-index.work__bike-index-three.work__bike-index-three--1
    img.work__img.work__img--absolute(src="../assets/images/bike_3_3.jpg" alt="")
