$work: work;

.#{$work} {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, rem(350) auto) rem(350);
  background-color: $color-white;
  grid-template-areas: 
    "img"
    "content"  
    "img1"
    "content1"
    "img2"
    "content2"
    "img3"
    ;
  
  @media (min-width: $device-lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, rem(600));
    grid-template-areas: 
    "img content"
    "content1 img1"
    "img2 content2"
    ;
  }

  @media (min-width: $device-xll) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, rem(600));
    grid-template-areas: 
    "img img content"
    "content1 img1 img1"
    "img2 content2 img3"
    ;
  }

  &__bike-detail {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;

    .#{work}__bike-detail-icon {
      margin-bottom: rem(30);
    }
  }

  &__bike-detail-one {
    grid-area: content;

    .#{$work}__bike-detail-icon {
      max-width: rem(41);
    }
  }

  &__bike-detail-two {
    grid-area: content1;

    .#{$work}__bike-detail-icon {
      max-width: rem(32);
    }
  }

  &__bike-detail-three {
    grid-area: content2;

    .#{$work}__bike-detail-icon {
      max-width: rem(23);
    }
  }

  &__bike-description {
    position: relative;
    padding: rem(50) 15px;
    z-index: 1;
    
    @media (min-width: $device-lg) {
      padding: rem(60) rem(65) rem(85);      
    }

    &::after {
      content: "";
      position: absolute;
      bottom: rem(-12);
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      width: 24px;
      height: 24px;
      background-color: $color-white;
    }
  }

  &__bike-detail-img {
    position: relative;
  }

  &__bike-descriptio-text {
    margin-bottom: rem(40);
    font-size: rem(22);
    line-height: rem(30);
    text-align: justify;

    @media (min-width: $device-md) {
      font-size: rem(20);
    }

    @media (min-width: $device-lg) {
      font-size: rem(18);
    }

    @media (min-width: $device-xll) {
      font-size: rem(16);
    }
  }

  &__bike-description-line {
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background-color: #d7d7d7;
  }

  &__bike-index {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .#{$work}__bike-index-icon {
      z-index: 9;
    }
  }

  &__bike-index-one {
    grid-area: img;

    .#{$work}__bike-index-icon {
      max-width: rem(113);
    }
  }

  &__bike-index-two {
    grid-area: img1;

    .#{work}__bike-index-icon {
      max-width: rem(177);
    }
  }

  &__bike-index-three {
    grid-area: img2;

    &--1 {
      grid-area: img3;
    }

    .#{$work}__bike-index-icon {
      max-width: rem(208);
    }
  }

  &__img {
    &--absolute {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
