$work: work;

.#{$work} {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 600px);
  background-color: $color-white;

  &__bike-detail {
    display: grid;
    grid-template-rows: 400px 1fr;
    text-align: center;

    .#{work}__bike-detail-icon {
      margin-bottom: 30px;
    }
  }

  &__bike-detail-one {
    grid-column: 3/4;

    .#{$work}__bike-detail-icon {
      max-width: 41px;
    }
  }

  &__bike-detail-two {
    grid-column: 1/2;

    .#{$work}__bike-detail-icon {
      max-width: 32px;
    }
  }

  &__bike-detail-three {
    .#{$work}__bike-detail-icon {
      max-width: 23px;
    }
  }

  &__bike-description {
    position: relative;
    padding: 60px 65px 0;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      width: 24px;
      height: 24px;
      background-color: $color-white;
    }
  }

  &__bike-detail-img {
    position: relative;
  }

  &__bike-descriptio-text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }

  &__bike-description-line {
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background-color: #d7d7d7;
  }

  &__bike-index {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .#{$work}__bike-index-icon {
      z-index: 9;
    }
  }

  &__bike-index-one {
    grid-column: 1/3;

    .#{$work}__bike-index-icon {
      max-width: 113px;
    }
  }

  &__bike-index-two {
    grid-column: 2/4;

    .#{work}__bike-index-icon {
      max-width: 177px;
    }
  }

  &__bike-index-three {
    .#{$work}__bike-index-icon {
      max-width: 208px;
    }
  }

  &__img {
    &--absolute {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
