$footer: footer;

.#{$footer} {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  background-color: #f7f7f7;

  &__wrap {
    &--no-inline{
      display: flex;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 45px;
    color: #848789;
  }

  &__text {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;

    &--big {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
    }

    a {
      color: #848789;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: inline-flex;
    margin: 0 7.5px;
  }
}
