footer.section.footer#contact
  .footer__address
    .footer__wrap
      p.footer__text.footer__text--big AOD New York
      p.footer__text 2250 Lexington Avenue
      p.footer__text New York, NY 10035  - #[a(href="mailto:info@domain.com") info@domain.com]
  .footer__social
    .footer__wrap.footer__wrap--no-inline
      a.footer__link(href="https://twitter.com/" target="_blank")
        img(src="../assets/images/itwitter.png" alt="")
      a.footer__link(href="https://www.facebook.com/" target="_blank")
        img(src="../assets/images/ifacebook.png" alt="")
      a.footer__link(href="https://www.pinterest.ru/" target="_blank")
        img(src="../assets/images/ipinterst.png" alt="")
