$footer: footer;

.#{$footer} {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: rem(250);
  padding: 0 15px;
  align-items: center;
  justify-items: center;
  background-color: $color-false-white;

  @media (min-width: $device-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $device-lg) {
    padding: 0;
  }

  &__address {
    justify-self: end;
    padding-right: rem(45);
    color: $color-gray;
  }

  &__text {
    font-weight: 400;
    font-style: italic;
    font-size: rem(20);

    @media (min-width: $device-md) {
      font-size: rem(18);
    }

    @media (min-width: $device-lg) {
      font-size: rem(14);
    }

    &--big {
      font-weight: 700;
      font-style: normal;
      font-size: rem(22);

      @media (min-width: $device-md) {
        font-size: rem(20);
      }

      @media (min-width: $device-lg) {
        font-size: rem(16);
      }
    }

    a {
      color: $color-gray;
    }
  }

  &__social {
    display: flex;
  }

  &__link {
    display: inline-flex;
    margin: 0 7.5px;
  }
}
