$top: top;

.#{$top} {
  height: calc(100vh - 75px);
  overflow: hidden;
  z-index: -1;

  @media (min-width: $device-xl) {
    height: rem(800);
  }

  &__images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: url("./assets/images/top.jpg") no-repeat center / cover;
    transition: transform .1s ease;
  }
}
